$margin: 10px;
$padding: 10px;
.content{
   padding-top: $padding;
   width: 100%;
}
.title{
   margin: 25px;
}
.forms{
   width: 75%;
   padding: 25px;
   margin-top: $margin;
   margin-left: $margin;
}