<!-- If the user is logged in, it shows the template with header, footer and sidebar
     If the user is not logged in, it shows the empty template. -->
<ng-template [ngIf]="isLoggedIn" [ngIfElse]="notLoggedIn">
  <app-navbar></app-navbar>
    <mat-drawer-container>
      <!-- Shows the sidebar if the isSidebarOpen value is true-->
      <!-- <mat-drawer class="example-sidenav" mode="side" [(opened)]="isSidebarOpen"> -->
      <mat-drawer mode="side">
          <app-sidenav></app-sidenav>      
      </mat-drawer>
      <mat-drawer-content>
          <router-outlet></router-outlet>
          <app-footer></app-footer> 
      </mat-drawer-content>
    </mat-drawer-container>
</ng-template>

<ng-template #notLoggedIn>
  <router-outlet></router-outlet>  
</ng-template>