.myForms {
  width: 75%;
  margin-top: 20px;
  padding-top: 10px;
  margin-left: 40px;
}
.myForms-extra {
  width: 95%;
  margin-top: 15px;
  margin-left: 40px;
  padding-bottom: 15px;
}
.title {
  padding-left: 15px;
}
