<mat-toolbar color="primary">
  <button (click)="switchSidenav()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <section class="mat-typography">
    <h2>{{ APP_STRINGS.app.name }}</h2>
  </section>
  <span class="toolbar-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
    <span>{{ username }}</span>
  </button>
  <mat-menu #menu>
    <!-- <button mat-menu-item>Change user details</button>-->
    <a mat-menu-item routerLink="{{ AppRoutes.user.update }}"
      >Change user details</a
    >
  </mat-menu>
  <button (click)="logout()" mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
