<ng-container *ngIf="sidenavMenu">
    <div *ngFor="let mainItem of sidenavMenu">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    {{mainItem.name}}
                </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <div class="menu-subitem" *ngFor="let subItem of mainItem.subItems">
                        <mat-list-item>
                            <a routerLink={{subItem.route}}>
                                {{subItem.name}}
                            </a>
                        </mat-list-item>
                    </div>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
<!--
MENU STRUCTURE 
    menu
        - item A
            + subitem 1  
            + subitem 2
            + subitem 3
        - item B
-->