<ng-container *ngIf="TREE_DATA">
  <div *ngIf="PREVIOUS_MENU.length > 0" (click)="return()">
    <button class="menu-return-button" mat-button color="warn">Return</button>
    <mat-divider></mat-divider>
  </div>
  <div *ngFor="let node of CURRENT_MENU">
    <ng-template [ngIf]="node.subitems" [ngIfElse]="child">
      <button
        class="menu-button"
        mat-button
        type="button"
        (click)="openItem(node)"
      >
        {{ node.name }}
      </button>
    </ng-template>
    <ng-template #child>
      <a class="menu-button" mat-button routerLink="{{ node.route }}">
        {{ node.name }}
      </a>
    </ng-template>
    <mat-divider></mat-divider>
  </div>
</ng-container>
<!--
MENU STRUCTURE 
    menu
        - item A
            + subitem 1  
            + subitem 2
            + subitem 3
        - item B
-->
