.discount {
  width: 100%;
  padding-top: 10px;
  .title {
    margin-left: 5px;
  }
  .divider {
    width: 90%;
    margin: 20px;
  }
  .field {
    //Every element inside the div
    width: 90%;
    margin-left: 20px;
    button {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
