<div class="component-wrapper mat-elevation-z8">
  <ng-template [ngIf]="error === null" [ngIfElse]="hasError">
    <div class="title">
      <section class="mat-typography">
        <h2>Update client or provider</h2>
      </section>
    </div>
    <div class="component-content">
      <app-invoice-form
        (invoiceOutput)="update($event)"
        (refreshInvoice)="getInvoice()"
        [invoiceInput]="invoiceInput"
        [apiError]="apiError"
      ></app-invoice-form>
    </div>
  </ng-template>
  <ng-template #hasError>
    <h1 class="error">{{ error }}</h1>
  </ng-template>
</div>
