.discountButton {
  width: 45%;
  align-self: center;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.search {
  width: 100%;
  .button {
    width: 35%;
  }
  .field {
    width: 65%;
  }
}
