<div>
  <mat-card>
    <mat-card-title>
      <a
        class="link"
        [routerLink]="[AppRoutes.invoice.search]"
        [queryParams]="{start, end}"
        >Today's sales</a
      >
    </mat-card-title>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <a
        class="link"
        [routerLink]="[AppRoutes.payment.search]"
        [queryParams]="{start, end}"
        >Today's payments</a
      >
    </mat-card-title>
  </mat-card>
  <app-product-results-quantity></app-product-results-quantity>
  <app-order-results-estimated-date></app-order-results-estimated-date>
</div>
