<div class="component-wrapper mat-elevation-z8">
  <ng-template [ngIf]="error === null" [ngIfElse]="hasError">
    <div class="title">
      <section class="mat-typography">
        <h2>Invoice</h2>
      </section>
    </div>
    <div class="component-content">
      <div class="update">
        <mat-divider class="divider"></mat-divider>
        <button
          class="button"
          color="primary"
          type="button"
          (click)="update()"
          mat-raised-button
        >
          Update
        </button>
        <button
          mat-raised-button
          class="button"
          color="primary"
          type="button"
          printSectionId="print-section"
          styleSheetFile="assets/scss/print-styles.scss"
          ngxPrint
        >
          Print
        </button>
        <mat-divider class="divider"></mat-divider>
      </div>
      <div id="print-section">
        <app-print-basic-information
          [type]="'invoice'"
        ></app-print-basic-information>
        <app-invoice-total [invoice]="invoice"></app-invoice-total>
        <app-invoice-detail-results
          [invoiceDetailsInput]="invoice.details"
          [showButton]="false"
        ></app-invoice-detail-results>
        <app-payment-results
          [paymentResultsInput]="invoice.transaction.payments"
          [showButton]="false"
        ></app-payment-results>
      </div>
    </div>
  </ng-template>
  <ng-template #hasError>
    <h1 class="error">{{ error }}</h1>
  </ng-template>
</div>
