<div class="content mat-elevation-z8">
  <ng-template [ngIf]="!error" [ngIfElse]="hasError">
    <div class="title">
      <section class="mat-typography">
        <h1>Update user information</h1>
      </section>
    </div>
    <div class="forms">
      <section class="mat-typography">
        <h2>Individual information</h2>
      </section>
      <app-user-form
        (userOutput)="updateCurrentUser($event)"
        [updateCurrentUser]="true"
        [userInput]="user"
        [apiError]="apiError"
      ></app-user-form>
    </div>
  </ng-template>
  <ng-template #hasError>
    <h1 class="error">{{ error }}</h1>
  </ng-template>
</div>
