<form [formGroup]="paymentForm" (ngSubmit)="submit()">
  <section class="mat-typography">
    <h2>Payment</h2>
  </section>
  <!-- Payment method-->
  <!-- Autocomplete bar -->
  <div>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Payment method</mat-label>
      <input
        type="text"
        matInput
        [formControlName]="'paymentMethodAutocomplete'"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let paymentMethod of paymentMethods$ | async"
          [value]="paymentMethod.name"
          (click)="changePaymentMethod(paymentMethod)"
        >
          {{ paymentMethod.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <!-- Paid -->
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Paid</mat-label>
    <input type="number" matInput [formControlName]="'paid'" />
  </mat-form-field>
  <!-- Date-->
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Choose a datetime</mat-label>
    <input
      matInput
      readonly
      [matDatepicker]="picker"
      [formControlName]="'date'"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker type="datetime" #picker></mat-datepicker>
  </mat-form-field>
  <!-- Notes -->
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Notes</mat-label>
    <textarea [formControlName]="'notes'" matInput></textarea>
  </mat-form-field>
  <!-- Display errors -->
  <section class="mat-typography error">
    <div *ngIf="apiError">
      {{ apiError?.message }}
    </div>
  </section>
  <!-- Save buttons -->
  <div>
    <mat-divider class="form-divider"></mat-divider>
    <div class="form-button">
      <button type="submit" mat-flat-button color="primary">
        Add new payment
      </button>
    </div>
    <div class="form-button">
      <button type="button" mat-flat-button color="warn" (click)="resetForm()">
        Reset form
      </button>
    </div>
    <mat-divider class="form-divider"></mat-divider>
  </div>
</form>
