<div class="mat-elevation-z8 summary">
  <section class="mat-typography">
    <h2>Total:</h2>
    <p>
      {{ "Date: " + getInvoiceDate() }}
    </p>
    <p>
      {{ "Client: " + getInvoiceClient() }}
    </p>
    <p>
      {{ invoice ? "Subtotal: " + invoice?.subtotal : "Subtotal: 0" }}
    </p>
    <p>{{ invoice ? "Tax: " + invoice?.tax : "Tax: 0" }}</p>
    <p>
      {{ invoice ? "Discount: " + invoice?.discount : "Discount: 0" }}
    </p>
    <p>{{ invoice ? "Total: " + invoice?.total : "Total: 0" }}</p>
    <p>{{ invoice ? "Paid: " + invoice?.paid : "Paid: 0" }}</p>
    <p>{{ invoice ? "Owed: " + invoice?.owed : "Owed: 0" }}</p>
  </section>
</div>
