<div class="container">
    <section class="mat-typography">
    <mat-card>
        <mat-card-title class="container-header">
            Internal error (500)
        </mat-card-title>
        <mat-card-content>
            <mat-divider class="container-content"></mat-divider>
            <h3 class="container-content">
                Sorry, the content could not be displayed.
            </h3>
            <mat-divider class="container-content"></mat-divider>
        </mat-card-content>
        <mat-card-actions></mat-card-actions>
        <button type="button" class="container-button" mat-raised-button color="primary" (click)="goBack()">Try again</button>
        <button type="button" class="container-button" mat-raised-button color="primary" (click)="goToLanding()">Go home</button>
    </mat-card>
    </section>
</div>