.container{
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-header{
    text-align: center;
    margin-top: 10px;   
    margin-bottom: 10px;   
}
.container-content{
    +h3{
        text-align: center;
        padding: 15px;
    }
    margin-top: 20px;   
    margin-bottom: 20px;
}
.container-button{
    width: 100%;
    margin-bottom: 15px;
}


