<form [formGroup]="orderDetailsForm" (ngSubmit)="submit()">
  <section class="mat-typography">
    <h2>Order detail</h2>
  </section>
  <!-- Product code / search -->

  <div class="search">
    <!-- Autocomplete bar -->
    <mat-form-field class="field form-field" appearance="fill">
      <mat-label>Product code</mat-label>
      <input
        type="text"
        matInput
        [formControlName]="'productAutocomplete'"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let product of products$ | async"
          [value]="product.code + ' ' + product.name"
          (click)="changeProduct(product)"
        >
          {{ product.code + "  " + product.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!--Search button -->
    <button
      class="button"
      mat-button
      color="primary"
      type="button"
      (click)="openDialog('product')"
    >
      Search a product
    </button>
    <!-- Quantity -->
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Quantity</mat-label>
      <input type="number" matInput [formControlName]="'quantity'" />
    </mat-form-field>
    <!-- Price by unit -->
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Price by unit</mat-label>
      <input type="number" matInput [formControlName]="'priceByUnit'" />
    </mat-form-field>
  </div>
  <!-- Display errors -->
  <section class="mat-typography error">
    <div *ngIf="apiError">
      {{ apiError?.message }}
    </div>
  </section>
  <!-- Notes -->
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Notes</mat-label>
    <textarea [formControlName]="'notes'" matInput></textarea>
  </mat-form-field>
  <!-- Save buttons -->
  <div>
    <mat-divider class="form-divider"></mat-divider>
    <div class="form-button">
      <button type="submit" mat-flat-button color="primary">
        Add new detail
      </button>
    </div>
    <div class="form-button">
      <button type="button" mat-flat-button color="warn" (click)="resetForm()">
        Reset form
      </button>
    </div>
    <mat-divider class="form-divider"></mat-divider>
  </div>
</form>
