.summary {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}
.information {
  padding: 20px;
  margin-bottom: 15px;
}
.search {
  width: 100%;
  .button {
    width: 35%;
  }
  .field {
    width: 65%;
  }
}
.subtab {
  margin-bottom: 10px;
}
