<div class="mat-elevation-z8 summary">
  <section class="mat-typography">
    <!-- Only shows the order ID when are updating or viewing it.-->
    <p *ngIf="order && order.id">
      {{ "Order ID: " + (order ? order?.id : "0") }}
    </p>
    <p *ngIf="invoice && invoice.transaction.fullname">
      {{
        "Cashier: " +
          invoice.transaction.fullname +
          "(" +
          invoice.transaction.username +
          ")"
      }}
    </p>
    <p>
      {{ "Date: " + getDate(order?.transaction?.date) }}
    </p>
    <p>
      {{ "Provider: " + getOrderProvider() }}
    </p>
    <p>
      {{ "Expected delivery date: " + getDate(order?.expectedDeliveryDate) }}
    </p>
    <p>
      {{ "Actual delivery date: " + getDate(order?.actualDeliveryDate) }}
    </p>
    <p>{{ order ? "Total: " + order?.total : "Total: 0" }}</p>
    <p>{{ order ? "Paid: " + order?.paid : "Paid: 0" }}</p>
    <p>{{ order ? "Owed: " + order?.owed : "Owed: 0" }}</p>
  </section>
</div>
