<div class="mat-elevation-z8 summary">
  <h2>Information</h2>
  <section class="mat-typography">
    <div>
      <!-- Only shows the order ID when are updating or viewing it.-->
      <span *ngIf="order && order.id">
        {{ "Order ID: " + (order ? order?.id : "0") }}
      </span>
    </div>
    <div>
      <span *ngIf="order && order.transaction.fullname">
        {{
          "Cashier: " +
            order.transaction.fullname +
            "(" +
            order.transaction.username +
            ")"
        }}
      </span>
    </div>
    <div>
      <span>
        {{ "Date: " + getDate(order?.transaction?.date) }}
      </span>
    </div>
    <div>
      <span>
        {{ "Provider: " + getOrderProvider() }}
      </span>
    </div>
    <div>
      <span>
        {{ "Estimated delivery date: " + getDate(order?.expectedDeliveryDate) }}
      </span>
    </div>
    <div>
      <span>
        {{ "Actual delivery date: " + getDate(order?.actualDeliveryDate) }}
      </span>
    </div>
    <div>
      <span>{{ order ? "Total: " + order?.total : "Total: 0" }}</span>
    </div>
    <div>
      <span>{{ order ? "Paid: " + order?.paid : "Paid: 0" }}</span>
    </div>
    <div>
      <span>{{ order ? "Owed: " + order?.owed : "Owed: 0" }}</span>
    </div>
    <!-- Notes -->
    <div
      *ngIf="
        this.order && this.order.transaction && this.order.transaction.notes
      "
      class="print-hide"
    >
      <span>Notes:</span>
    </div>
  </section>
  <div
    *ngIf="this.order && this.order.transaction && this.order.transaction.notes"
    class="print-hide"
  >
    <mat-form-field style="width: 100%" appearance="fill">
      <textarea matInput readonly>{{
        this.order && this.order.transaction ? this.order.transaction.notes : ""
      }}</textarea>
    </mat-form-field>
  </div>
</div>
