/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/**
    Form styles.
*/

$form-width : 100%;
$form-margin: 15px;
$padding: 10px;
$margin: 10px;

.content{
    padding-top: $padding;
    margin-left: 20px;
    width: 100%;
 }
 .forms{
    width: 75%;
    padding: 25px;
    margin-top: $form-margin;
    margin-left: $form-margin;
 }
.form-field{
    width: $form-width;
}
.form-divider{
    margin-top: $form-margin; 
    margin-bottom: $form-margin;
}
.form-button{
    width: $form-width;
    margin-top: $form-margin;
    margin-bottom: $form-margin;
    button{ //button inside class
        width: $form-width;
    }
}
.error{
    color: red;
}